@model IEnumerable<Product>


@{
    Layout = "~/Views/Shared/_LayoutShopping.cshtml";
    var ProductDetails = ViewBag.ProductDetails;
}

<!-- Start Categories of The Month -->
<section class="container py-5" style="font-size:20px; font-family:'Calisto MT';">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categories of The Month</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./Images/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Cupcakes</h5>
            <p class="text-center text-white"><button type="button" class="btn md-2 text-white" style="background-color:#754C41">Go Shop</button></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./Images/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Cookies</h2>
            <p class="text-center text-white"><button type="button" class="btn md-2 text-white" style="background-color:#754C41">Go Shop</button></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./Images/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Macarons</h2>
            <p class="text-center"><button type="button" class="btn md-2 text-white" style="background-color:#754C41">Go Shop</button></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
<!-- Start Featured Product -->
<section class="bg-light" style="font-size:20px; font-family:'Calisto MT';">
    <div class="container py-5">
        <div class="row">
          @foreach (var item in ProductDetails)
            {
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                        <a asp-action="ProductDetails" asp-route-id="@item.Id">
                            <img src="./Images/@item.Image" class="card-img-top" style="height:370px">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                                <li class="text-muted text-right">SR @item.Price</li>
                        </ul>
                            <h4 class="h2 text-decoration-none text-dark" style="font-size:19px;">@item.ProductName</h4>
                            <div class="text-center">
                            <a asp-action="ProductDetails" asp-route-id="@item.Id" role="button" class="btn md-2 mt-4 text-white" style="background-color:#754C41">Buy Now</a>
                            </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- End Featured Product -->